asgiref==3.4.1
certifi==2021.5.30
chardet==4.0.0
ChatterBot==1.0.4
chatterbot-corpus==1.2.0
click==8.0.1
colorama==0.4.4
Django==3.2.5
idna==2.10
joblib==1.0.1
mathparse==0.1.2
nltk==3.6.2
packaging==21.0
Pint==0.17
pymongo==3.11.4
pyparsing==2.4.7
python-dateutil==2.7.5
pytz==2021.1
PyYAML==3.13
regex==2021.7.1
requests==2.25.1
six==1.16.0
SQLAlchemy==1.2.19
sqlparse==0.4.1
tqdm==4.61.1
Unidecode==1.2.0
urllib3==1.26.6
dj-database-url==0.5.0
django-environ==0.4.5
psycopg2==2.9.1
gunicorn
whitenoise
yfinance==0.1.63
mplfinance==0.12.7a17

